/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
    ;
}

a {
    color: inherit;
}

a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


.flex-container {
    display: flex;
}

.first_and_last_section {
    display: flex;
    width: 100%;
    overflow: hidden;
}


/*SIDEBAR*/

.sidebar {
    width: 315px;
    background-color: #0d2958;
    color: #fff;
    flex-grow: 0;
    font-size: 18px;
    position: relative;
}

.logo {
    padding: 10px 20px 0 20px;
}

.sidebar__nav ul {
    margin-top: 80px;
    list-style-type: none;
    padding-left: 40px;
}

.sidebar__nav li {
    margin-bottom: 30px;
    transition: all 0.5s ease
}

.sidebar__nav li:hover {
    color: teal
}

.sidebar__nav li:last-child {
    margin-bottom: 20px;
}

.form {
    background-color: #091e42;
    padding: 0 40px 0 40px;
}

.form__title {
    padding-top: 10px;
    margin-bottom: 40px;
}

.form__item {
    width: 100%;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: inherit;
    border: none;
    display: block;
    outline: none;
    border-bottom: 1px solid #4e6386;
}

.form__item::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4e6386;
}

.form__item::-moz-placeholder {
    /* Firefox 19+ */
    color: #4e6386;
}

.form__item:-ms-input-placeholder {
    /* IE 10+ */
    color: #4e6386;
}

.form__item:-moz-placeholder {
    /* Firefox 18- */
    color: #4e6386;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.form--submit {
    background-color: inherit;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border-color: #4e6386;
    box-shadow: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all 0.7s ease;
}

.form--submit:active,
.form--submit:hover,
.form--submit:active,
.form--submit:focus {
    color: teal;
    border-color: #fff;
}


/* MAIN */

.main {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__container {
    width: 85%;
}

.main__item {
    margin-top: 20px;
    transition: all 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.main__item__content {
    margin-left: 10px;
    text-align: center;
    margin-right: 10px;
}

.main__title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #0b4089;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.main__item__title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #0b4089;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main__item:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #0b4089;
    position: relative;
    display: none;
}



/*RESPONSIVE & MEDIA*/


/*HEADER*/

.header {
    width: 100%;
    background-color: #0d2958;
    padding: 20px;
    color: #fff;
}

.header__nav {
    width: 100%;
}

.header__nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 0;
}

.header .flex-container {
    align-items: center;
}


/*FOOTER*/

.footer {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footer .form__title {
    padding-top: 20px;
}

.footer .flex-container {
    justify-content: space-between;
}

.footer .textarea {
    height: 121px;
}

.footer .right,
.footer .left {
    width: 45%;
}

@media (min-width: 1700px) {
    .main__item img {
        width: auto;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .main__item img {
        width: 200px;
        height: auto;
    }
    .sidebar {
        width: 315px;
    }
    .logo {
        width: auto;
    }
}

@media (min-width: 992px) {
    .main__item img {
        width: 160px;
        height: auto;
    }
    .main__container {
        width: 90%;
    }
    .sidebar {
        width: 250px;
        font-size: 16px;
    }
    .logo {
        width: 250px;
        height: auto;
    }
    .sidebar ul {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .first_and_last_section {
        flex-direction: column;
    }
    .form {
        background-color: #091e42;
        padding: 0 40px 0 40px;
        bottom: 0;
        position: relative;
    }
    .logo {
        display: inline-block;
        padding: 0;
        width: 150px;
        height: auto;
    }
    .main__item:after {
        display: block
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .first_and_last_section {
        flex-direction: column;
    }
    .logo {
        display: inline-block;
        padding: 0;
        width: 150px;
        height: auto;
    }
    .main__item:after {
        display: block
    }
}

@media (max-width: 575.98px) {
    .first_and_last_section {
        flex-direction: column;
    }
    .main__item img {
        width: 220px;
        height: auto;
    }
    .logo {
        display: inline-block;
        padding: 0;
        width: 150px;
        height: auto;
    }
    .main__item:after {
        display: block;
    }
    .header__nav ul {
        flex-direction: column;
        font-size: 14px;
    }
    .header__nav li {
        display: inline-block;
        text-align: center;
    }
    .header__nav li:first-child {
        margin-bottom: 25px;
    }
}